
// Fonts
// @import url(//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic);
@import url(//fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/earlyaccess/sawarabigothic.css);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "config";
@import "noren/src/modules/fractions.slim";
@import "noren/src/modules/range.slim";
@import "noren/src/core";

* {
  font-family: "Sawarabi Gothic";
}

a {
  &:link,
  &:hover {
    text-decoration: none !important;
  }
}

.md-toolbar {
  color: #fff;
}
