// Fonts
// @import url(//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic);
@import url(//fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/earlyaccess/sawarabigothic.css);

@import "config";
@import "noren/src/modules/fractions.slim";
@import "noren/src/modules/range.slim";
@import "noren/src/core";
@import "modal";

* {
  font-family: "Sawarabi Gothic";
}

#global-bar {
  margin-bottom: 2rem;
}

a {
  &:link,
  &:hover {
    text-decoration: none !important;
  }
}

.md-toolbar {
  color: #fff;
}

.block {
  margin-bottom: 2rem;
}
